# PostgreSQL database connection URL
# DATABASE_URL=postgresql+psycopg2://username:password@hostname:port/database_name

# Example (commented for clarity):
# DATABASE_URL=postgresql+psycopg2://user:pass@host:port/dbname

# Optional: Uncomment this line if switching to local MySQL
# DATABASE_URL=mysql+mysqlconnector://user:password@localhost:3306/dbname

# TRACKING_BASE_URL=https://domain_url.com

FLASK_ENV=development
SECRET_KEY=create_your_own_key

# Database Connections
DATABASE_URL=mysql+pymysql://user:password@localhost:3306/dbname

# Email Server Defaults (Global)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Application Variables
TRACKING_BASE_URL=http://localhost:5000 / later use the cloud database/ngrok to track image